* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 930px;
}

main {
    height: 100vh;
    background: rgb(176,178,187);
background: radial-gradient(circle, rgb(126, 175, 149) 10%, rgba(0,0,0,1) 130%);
}
/* header */
.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* add img */
.header__logo {
    width: 100px;
    height: 100px;
    background-color: black;
}

.header__nav {
    width: 40%;
    display: flex;
    justify-content: space-between;
}

/* main */

.swiper {
  width: 100%;
  height: 500px;
  margin-right: 0px;
}
.swiper-vertical>.swiper-wrapper {
    align-items: flex-end;
}
.swiper-slide {
    width: 80%;
    height: 500px;

    padding: 50px;
    display: flex;
    align-items: end;
    flex-direction: column;
    justify-content: space-between;

}
.swiper__img {
    width: 100%;
    border-radius: 20px;
    overflow: hidden;

    left: -100px;
    z-index: 100;
}
.swiper__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* .swiper__title {
    margin-left: 70%;
} */