* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 20px;
}
li {
    list-style: none;
    margin: 10px 0;
}
a {
    color: inherit;
    text-decoration: none;
}
.container {
    max-width: 1030px;
    padding: 0 15px;
    margin: 0 auto;
}

/* header */
.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* add img */
.header__logo {
    width: 100px;
    height: 100px;
}
.header__logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.header__nav {
    width: 40%;
    display: flex;
    justify-content: space-between;
}
.header__wrapper-mobile{
    display: none;
}

.main__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    position: relative;
    padding: 50px 0;
}

.main__card {
    width: 32%;

    background-color: rgba(0, 0, 0, 0.576);
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-around;


}

.main__card:hover {
    transform: scale(1.1);
    transition: 0.3s;
    background: rgb(233, 241, 0);
    background: radial-gradient(circle, rgba(241, 221, 0, 0.836) 19%, rgba(176, 8, 8, 0.868) 78%, rgba(24, 16, 16, 1) 98%);
}

.modal {
    position: absolute;
    width: 80%;
    display: flex;
    flex-direction: column;
    padding: 10px 60px 40px;

    background-color: rgba(39, 37, 37, 0.3);
    border-radius: 20px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(50px);
    z-index: 1000;
    text-transform: capitalize;

}

.modal__img {
    height: 100px;
    width: 100px;
}

.modal__img img {
    width: 110%;
    height: 110%;
    object-fit: cover;
}

.modal__desc {
    margin-bottom: 10px;
}

.modal__icon {
    position: absolute;
    height: 30px;
    width: 30px;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

.modal__icon img {
    width: 100%;
    height: 100%;
}


@media (max-width:1000px) {
    .main__card {
        width: 28%;
    }
}
@media (max-width:970px) {
    .header__nav {
        width: 51%;
    }
    .main__card {
        width: 31%;
    }
    
}
@media (max-width:600px) {
    .main__card {
        width: 100%;
    }
    .modal {
        top: 20%;
    }
}
@media  (max-width: 490px){
    .header__nav {
        display: none;
    }
    .header__wrapper-mobile {
        display: block;
    }
 /* Гамбургер иконка */
 .menu-btn {
	width: 30px;
	height: 30px;
	position: relative;
	z-index:1004;
	overflow: hidden;
}

.menu-btn span {
  width: 30px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black  ;
  transition: all 0.5s;
}

.menu-btn span:nth-of-type(2) {
	top: calc(50% - 5px);
}
.menu-btn span:nth-of-type(3) {
	top: calc(50% + 5px);
}

/* Меняем гамбургер иконку, когда меню открыто */
.menu-btn.active span:nth-of-type(1) {
  display: none;
}
.menu-btn.active span:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(45deg);  

}
.menu-btn.active span:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(-45deg); 

}

/* Меню, которое будет появляться */
.menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 30px;
    background: radial-gradient(circle, rgb(126, 175, 149) 10%, rgba(0,0,0,1) 130%);
	transform: translateX(-100%);
	transition: transform 0.5s; 
      z-index: 1000;
}

.menu.active {
	transform: translateX(0);
}
}
    
