* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #166692;
}
body{
    background: #000000;
    color: #EAEAEA;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 20px;
}
li {
    list-style: none;
    text-transform: uppercase;
}
a {
    text-decoration: none;
}
.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 930px;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}
.main__wrapper {
    display: flex;
    flex-wrap: wrap;
}
.main__card {
    background-color: rgba(0, 0, 0, 0.226);
    height: 200px;
    width: 30%;
    margin: 0 30px 30px 0;
    border: 1px solid blueviolet;

    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}
.modal {
    position: absolute;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 50px;

    background-color: rgba(136, 135, 135, 0.3);
    border-radius: 20px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(50px);
    z-index: 1000;
    color: #EAEAEA;
    text-transform: capitalize;
}
.desc {
    margin-bottom: 10px;
}

.modal__icon {
    position: absolute;
    height: 30px;
    width: 30px;
    top: 20px;
    right: 20px;
    z-index: 1000;

}
.modal__icon img{
    width: 100%;
    height: 100%;

}